<!DOCTYPE html>
<html lang="ja">

<head>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" /> -->
	<!-- <link rel="stylesheet" href="static/css/style.css"> -->
	<!-- <script src="static/js/create_table.js"></script> -->

	<!-- set js and css file to static/-->
	<!--https://tanuhack.com/flask-jinja2-import/#HTML-->
	<script src="static/js/jquery-3.6.0.min.js"></script>
	<script src="static/js/prettyprint.js"></script>
	<script>
		//https://programming-skill-blog.com/2021/04/15/jquery%E3%81%A8python%E3%81%A7ajax%EF%BC%88%E9%9D%9E%E5%90%8C%E6%9C%9F%E9%80%9A%E4%BF%A1%EF%BC%89%E3%82%92%E5%AE%9F%E8%A3%85%E3%81%99%E3%82%8B%E6%96%B9%E6%B3%95%E3%80%90flask%E3%80%91%E3%80%90/

		//#### Tst of SetInterval #####
		$(function () {
			interval = 5000;
			setInterval(() => {
				//$('#monitor').append("a" + "</br>");
				//$('#123').$('#date').append( + "</br>");
				//$('#123').$('#status').append( + "</br>");
			}, interval);
		});


		$(function () {
			interval = 5000;
			setInterval(() => {
				$(function () {
					$.ajax({
						url: '/monitor',
						type: 'GET',
						dataType: 'json',
					})
						//通信成功時のサーバーからのリターン
						.done(function (data) { //data is already JSON parsed.
							console.log(data)
							//$('#result').append(data + "</br>");
							$('#monitor').text(JSON.stringify(data, null, '\t')); //json objを文字列へ変換
							var ppTable = prettyPrint(data);
							$('#debug').html(ppTable);
						})
						//通信失敗時のサーバーからのリターン
						.fail(function () {
							window.alert('データが取れていません');
						})
				})
			}, interval);
		});
	</script>

</head>

<body>
	<!-- <p id="monitor"></p>
	<p id="123">
	<p id="date">
	<p id="status"> -->
	</p>]
	<!-- <div class="table-responsive">
		<table id='syain'> </table>
	</div> -->
	<div id='id'></div>
	<div id='monitor'></div>
</body>